In [1]:
import pandas as pd
import numpy as np

np.random.seed(99)
autos = 1000

caballos = np.random.randint(80, 400, autos)
antiguedad = np.random.randint(0, 20, autos)

precio = 5000 + (caballos * 100) - (antiguedad * 500) + np.random.randint(-2000, 2000, autos)

data = pd.DataFrame({
    'Caballos': caballos,
    'Antiguedad': antiguedad,
    'Precio': precio
})

data.to_csv('dataset_autos.csv', index=False)

print("¡Archivo 'dataset_autos.csv' creado exitosamente!")

¡Archivo 'dataset_autos.csv' creado exitosamente!

In [2]:
df = pd.read_csv('dataset_autos.csv')
df.head()

   Caballos  Antiguedad  Precio
0       209          18   16915
1       115           9   11121
2       265           5   28441
3       248          16   21595
4       281          15   25375

In [3]:
print(df.shape)

(1000, 3)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Caballos    1000 non-null   int64
 1   Antiguedad  1000 non-null   int64
 2   Precio      1000 non-null   int64
dtypes: int64(3)
memory usage: 23.6 KB

In [7]:
X = df[['Caballos', 'Antiguedad']]
y = df['Precio']

print(X.head())

   Caballos  Antiguedad
0       209          18
1       115           9
2       265           5
3       248          16
4       281          15

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(X_train.head())

     Caballos  Antiguedad
29        318           9
535       151          15
695       117          17
557       296          16
836       345          11

In [9]:
from sklearn.linear_model import LinearRegression

modelo = LinearRegression()
modelo.fit(X_train, y_train)

print(modelo.coef_)

[  99.79222258 -504.29478325]

In [10]:
from sklearn.metrics import mean_absolute_error

y_pred = modelo.predict(X_test)

mae = mean_absolute_error(y_test, y_pred)
print(mae)

1085.0749326060413

In [11]:
mi_auto = pd.DataFrame({'Caballos': [250], 'Antiguedad': [3]})
print(modelo.predict(mi_auto))

[28457.28784922]